body,html{
	font-family: 'PT Sans', sans-serif;
	margin:0;
	padding:0;
	background:#000 url(../img/back.jpg) no-repeat fixed;
	background-size:fit;
}

.header{
	padding-top:40px;
	padding-bottom:40px;
	width:100%;
	font-size:75px;	
	text-align:center;
	color:#fff;
	min-height:180px;
}

.header .logo{
	position:absolute;
	left:50%;
	margin-left:-135px;
	cursor:pointer;
}

.header .secret{
	display:none;
	position:absolute;
	left:62%;
	top:15%;
}

.hidden{
	display:none;
}

.clear{
	clear:both;
}


/* WHITE BOX */
.box{
	position:relative;
	width:50%;
	margin:0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:2px solid #777;
	background:#fff;
	padding:20px;
}

/* SIGN BLOCK */

.sign .text{
	font-size:40px;
	font-weight:bold;
}
.sign-button{
	position:relative;
	margin:0 auto;
	margin-top:45px;
	margin-bottom:30px;
	background:#6d8db1;
	cursor:pointer;
	color:#fff;
	font-size:20px;

	border:2px solid #4f7aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	width:60%;
	height:70px;
}

.sign-button:active,.sign-button:hover{
	background:#80a0c3;
}

.sign-button .text{
	width:100%;
	position:absolute;
	top:50%;
	margin-top:-25px;
	text-align:center;
}

/* END OF SIGN BLOCK */

/* SEARCH BLOCK */
.search{
	position:relative;
}

.search-input{
	float:left;
	width:85%;
	margin-top:10px;
	padding:12px;
	font-size:20px;

	border:2px solid #4f7aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	color:#aaa;
}

.search-button{
	position:absolute;
	right:-15px;
	top:10px;
	height:52px;
	width:75px;
	cursor:pointer;

	background:#2562a7;
	border:2px solid #4f7aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	font-size:18px;
	color:#fff;
}
.results{
	margin-top:20px;
}
.result-item .title{
	cursor:pointer;
	color:#1c61ae;
	font-weight:bold;
	text-decoration: underline;
	margin-bottom:15px;
}

.result-item .text{
	display:none;
	padding:5px;
	color:#000;
	font-size:14px;
	text-align:left;
}

.result-item .lyrix{
	display:block;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	height:80px;
	width:250px;
	color:#f00;
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
}

.alternative{
	margin-top:40px;
	font-size:25px;
}

.manual-lyrics{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	width:500px;
	height:80px;
	border:1px dashed #333;
}
.manual-button{
	cursor:pointer;
	background:#2562a7;
	border:2px solid #4f7aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size:23px;
	color:#fff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
}
/* END OF SEARCH BLOCK */

.back-to-top{
	display:none;
	position:fixed;
	left:0;
	bottom:0;
	height:100%;
	width:100px;
	background:#111;
	opacity:0.6;
	color:#666;
	cursor:pointer;
}

.back-to-top:hover{
	background:#222;
	opacity:0.6;
}

.back-to-top .text{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-45px;
	margin-top:-50px;
}

/* MAIN LYRICS BLOCK */
.player{
	background:#fff;
	position:relative;
	margin-bottom:10px;
	font-size:25px;
	color:#333;
	width: 400px;
	margin: 0 auto;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.main-box{
	position:relative;
} 

.back-button{
	position:absolute;
	cursor:pointer;

	background:#2562a7;
	border:2px solid #4f7aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	font-size:18px;
	color:#fff;
	padding:5px;
	padding-left:15px;
	padding-right:15px;
}
.back-button:hover{
	background:#2f72be;
}

.main-box .images{
	width:100%;
	padding-top:45px;
}

.image{
	height:230px;
	width:270px;
	border:1px solid #000;
}

.block{
	margin:0 auto;
	width:60%;
	height:250px;
	background:#ddd;
	border:1px dashed #fff;

	text-align:center;
	position:relative;
	margin-bottom:40px;
	padding-bottom:50px;
}

.block .text{
	padding-top:5px;
	padding-bottom:0px;
	width:100%;
	text-align:center;

	font-size:30px;
	font-weight:bold;
	color:#111;
}
/* END OF MAIN LYRICS BOX */

.wrapper{
	opacity:0.1;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background:transparent;
    opacity:1;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #3498db; /* blue */
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #ffd200; /* yellow */
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #ccc;
    -webkit-animation: spin 1.3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}